<div class="outerContainer">
    <div fxLayout="row" fxLayout.sm="column"  class="container">
        <mat-card  style="background-color: #363535" >
            <mat-card-header>
                <div mat-card-avatar class="card-ganhos"></div>
                <mat-card-title style="color: green" class="card-responsiv">Carteira</mat-card-title>
                <mat-card-subtitle style="color: #DBD9D9;" class="card-responsiv">Quanto você possui no mês !! </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <span class="dasboard-card-text responsiv-text" style="color: green;" >{{carteiraValue}} R$</span>
            </mat-card-content>
        </mat-card>
       
        <mat-card style="background-color: #363535">
            <mat-card-header>
                <div mat-card-avatar class="card-gastos"></div>
                <mat-card-title style="color: red;" class="card-responsiv">Gastos</mat-card-title>
                <mat-card-subtitle style="color: #DBD9D9;" class="card-responsiv">Quanto você gastou no mês !!</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <span class="dasboard-card-text responsiv-text" style="color: red;">{{gastoValue}} R$</span>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div class="container">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column">

        <table mat-table [dataSource]="gastos" class="mat-elevation-z8">


            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>


            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
            </ng-container>


            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element">{{ element.data | date: 'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> <span *ngIf='element.status == 0'>Quitado</span> <span
                        *ngIf='element.status == 1'>A Quitar</span> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>





    </div>
</div>