.example-container{
  text-align: center
}
.mat-card {
  height: 66%;
  width: 40%;
  top: 40%;
  left:50%;
  transform:translate(-50%,-50%);
}
.form-container{
  width: 400px; 
  margin: 0px auto; 
  margin-top: 200px
}

.form-field{
  display: block
}